<nav>
		<a class='{page === "home"  ? "selected" : ""}' href='.'>home</a>
		<a class='{page === "about"  ? "selected" : ""}' href='about'>about</a>

		<!-- for the blog link, we're using rel=prefetch so that Sapper prefetches
		     the blog data when we hover over the link or tap it on a touchscreen -->
		<a rel=prefetch class='{page === "blog"  ? "selected" : ""}' href='blog'>blog</a>

</nav>

<style>
	nav {
		position: relative;
		max-width: 56em;
		background-color: white;
		padding: 2em;
		margin: 0 auto;
		box-sizing: border-box;
	}
	a {
		text-decoration: none;
		display: inline-block;
		margin-right: 0.33em;
	}
	.selected {
		position: relative;
		display: inline-block;
	}
	.selected::after {
		position: absolute;
		content: '';
		width: calc(100% - 1em);
		height: 2px;
		background-color: rgb(170,30,30);
		display: block;
		width: 100%;
		bottom: -1px;
	}

</style>